body {
    font-family: sans-serif;
    background-color: blanchedalmond;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: blanchedalmond;
  }

  .login-img {
    border: 5px solid rgb(249, 188, 123);
    width: 100%
  }

  button {
    background-color: chartreuse;
    border-radius: 80px;
  }